*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.form-group button {
    padding: 10px 20px;
}


/* Style for the editor */
.editor {
    height: 300px; /* Height of the editor */
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for Quill editor toolbar */
.ql-toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f8f8f8;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Style for Quill editor content area */
.ql-editor {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Style for Quill editor placeholder */
.ql-editor::before {
    color: #aaa;
    font-style: italic;
}

/* -------------- */

.sidebar {
    /* position: fixed;
    left: 0;
    top: 0; 
   height: 100vh; */
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
}
.sidebar a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #555;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
h1 h2 h3 h4 {
    color: #333;
    font-family: "Abril Fatface", sans-serif;
}

/* Styles pour la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px; /* Largeur maximale de la modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.close {
    color: #ce2d2d;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    
}

.close:hover,
.close:focus {
    color: #ce2d2d;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour les boutons de la modal */
.center-btn {
    display: flex;
    flex-direction: row;
}
.modal-btn {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    border: 1px solid #4CAF50;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    margin-right: 10px; /* Marge à droite */
    
    &:nth-child(2){
        background-color: #fefefe;
        border: 1px solid #4CAF50;
        color: #4CAF50;
    }
}

.modal-btn:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}