

/* Styles pour la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px; /* Largeur maximale de la modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.close {
    color: #ce2d2d;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    
}

.close:hover,
.close:focus {
    color: #ce2d2d;
    text-decoration: none;
    cursor: pointer;
}

/* Styles pour les boutons de la modal */
.center-btn {
    display: flex;
    flex-direction: row;
}
.modal-btn {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    border: 1px solid #4CAF50;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    margin-right: 10px; /* Marge à droite */
    
    &:nth-child(2){
        background-color: #fefefe;
        border: 1px solid #4CAF50;
        color: #4CAF50;
    }
}

.modal-btn:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

.articles-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    
    
}

.article-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
}


.article-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5%;
}

.article-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-content h2 {
    font-size: 1em;
    /* margin-left: 10px; */
    font-weight: 300;
}

.article-content p {
    font-size: 1em;
    color: #555;
}

.btn-action a {
    
    color: #000;
    font-size: 0.8em;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 0 20px;
}

.btn-action a:hover {
    color: #0056b3;
}

.sidebar{
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 30px;
}
.sidebar a{
    
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    color: #444;
}

.sidebar i {
    padding: 0 10px 0 0;
}